* {
    box-sizing: border-box;
}

html { height: 100%; }

body { height: 100%;
    margin: 0; 
    font-family: sans-serif;
}

header {
    overflow: auto;
    background-color: black;
    padding: 15px;
    color: white;
}

header .logo {
    float:left;
}

header nav {
    float: right;
    border-top: 10px;
    padding-right: 20px;
}
header nav a {
    color: red;
    text-decoration: none;
}

aside {
    height: 100%; 
    width: 15%; 
    padding-top: 20px;
    background-color: gray;
    text-align: center;
    line-height: 2rem;
}
aside a {
    text-align: center;
    padding-top: 20px;;
}

.image { float: left; 
padding-right: 20px}

main {
    float: right;
    width: 80%;
    padding-top: 20px;
}

main p {
    font-weight: 600;
}