* {
    box-sizing:border-box;
}
/* overlopen border-box en content-box */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}

header {
    background-color:#159dc6;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;  /* hoeft niet want is default */
    justify-content: space-between;  /* plaatst blokken aan de zijkanten */
    align-items: center;  /* centreert in dit geval verticaal */
    margin: auto;
    width: 1344px;
    height: 60px;
    padding: 4px;
}

.logo {
    height: 52px;
    padding: 12px;
}

.logo img {
    display: block;
    height: 100%;  /* geeft image maximale grootte van de container */
}

.menu {
    display: flex;
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 1px;
    border-bottom: 1px solid white;
}
.menu-item.active a {
    border-color: darkblue;
}

.header-body {
    text-align: center;
    padding: 70px 0;
    width: 1344px;
    margin: auto;
}

.banner {
    background-color: white;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 22px;
}

.banner p {
    margin: 0;
}

.card-container {
    width: 1344px;  /* was 1024 van 1000 + 2 x 12px van de margins  */
    display: flex;
    text-align: center;
    margin: auto;
}

.card {
    flex-grow: 1;
    margin: 12px;
    background-color: white;
    padding: 10px;
}

.card-image {
    display: flex;
    justify-content: center;
}
.card-content h4 {
    font-size: 1.25em;
    margin-bottom: .8em;
}
.card-content h4 {
    font-size: 1em;
    line-height: 1rem;
}
.card-image img {
    display: block;
    height: 100px
    width: 100px;
}

.infobox {
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 22px;
}
.infobox h2 {
    margin-bottom: 1.5rem;
    text-align: left;
}
.infobox p {
    margin: 0;
    text-align: left;
}

.tile-row {
    width: 1344px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
}
.row-reverse {
    flex-direction: row-reverse; 
}

.tile-box {
    margin: 12px;
    padding: 10px;
}
.tile-box-width-33 {
    margin: 12px;
    padding: 10px;
    width: calc((100% - 40px) / 3);
}
.is-white { 
    background-color: white;
    border-radius: 8px; }
.width-33 { width: calc((100% - 40px) / 3); }
.width-66 { width: calc(((100% - 40px) / 3) * 2); }
.width-50 { width: calc((100%) / 2); }

/* BELANGRIJK ipv percentages beter berekenen met .... width: calc((100% - 40px) / 3);  */

.tile-1-plus-2-1 {
    flex-grow: 1;
    width: 33%;
    margin: 12px;
    padding: 10px;
}
.tile-1-plus-2-2 {
    flex-grow: 2;
    width: 66%;
    margin: 12px;
    padding: 10px;
}

.tile-image { 
    display: block;
    height: 100%;
    width: 100%;
}

.tile-2-plus-1-left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tile-2-plus-1-right {
    flex-grow: 1;
}

.tile-tall {
    width: 100%;
}

.tile-2-plus-1-left-column {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.tile-vertical {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.tile-vertical-tiles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.tile-vertical-box {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 12px;
    padding: 10px;
}

.tile-middle {
}

.tile-wide {
    display: flex;
    height: 50%;
}

.footer-container {
    width: 100%;
}

.footer {
    width: 1344px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer-category {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 40px;
}
.footer-category a {
    text-decoration: none;
}



@media only screen and (min-width: 992px) {
    .navbar {
        width: 992px;
    }
    .header-body {
        width: 992px;
    }
    .card-container {
        width: 992px;
    }
    .tile-row {
        width: 992px;
    }
} 

@media screen and (max-width: 768px) {
    .navbar {
        width: 768px;
    }
    .header-body {
        width: 768px;
    }
    .card-container {
        width: 768px;
    }
    .tile-row {
        width: 768px;
    }
}


@media only screen and (max-width: 420px) {
    body {
        width: 100%;
    }
    .navbar {
        width: 360px;
    }
    .banner {
        width: 360px;
    }
    .header-body {
        width: 360px;
    }
    .card-container {
        width: 360px;
        display: flex;
        flex-direction: column;
    }
    .infobox {
        width: 90%;
    }
    .tile-row {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin: auto;
    }
    .tile-box-width-33 {
        margin: 12px;
        padding: 10px;
        width: 100%;
    }
    .tile-wide {
        width: 100%
    }
    .footer {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-category {
        margin: 20px;
        padding: 0;

}


