html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
}

header, footer {
    height: 150px;
    background-color: blue;
}

aside {
    width: 300px;
    background-color: red;
}

.container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.left, .right {
    width: 300px;
    color: red;
}

main {
    flex-grow: 1;
    background-color: yellow;
}

